/* DoGood style */
.navigationspunkt {
	border-right: medium solid #8ccbf9;
	color: #3D73BF;
	font-size: 1.7rem;
}
#hauptnavigation {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	padding-top: 15px;
}
.navbar-nav   {
	margin: 0; /* margin -15 bei mobile überschreiben*/
}
#home_content {
	padding-bottom: 25px;
}

#footer {
	background-color: #8CCBF9;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
#doku {
	color: #FFFFFF;
}
h1, h2, h3{
	color: #3D73BF;
}
.dropdown-toggle{
	border-right: medium solid #8ccbf9;
	color: #3D73BF;
	font-size: 1.7rem;
	}
.dropdown-menu{
	color: #3D73BF;
	font-size: 1.4rem;
	}
#letzerAbsatz{
	padding-bottom: 20px;
	}
